
  body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
  }

  h1 {
      color: #333;
      padding: 2rem;
  }
  
  th, td, table {
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    gap: 10px;
 }
 
  input{
  width: 30px;
  border: 1px solid #000;
  }

  .car{
    padding: 2rem;
    max-width: 90%;
    width: 230px;
    background-color: #e0cfbd;
    margin: 20px auto;
    border-radius: 2rem;
  }

  .card_respuesta{
    padding: 2rem;
    margin: 20px auto;
    background-color: #87a1ab;
    border-radius: 1rem;
    max-width: 90%;
    width: 230px;
  }

  button{
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    color: white;
    background-color: #008ce7;
    margin-top: 1rem;
  }

  button:hover{
    background-color: #2196f3;
  }

  .resultado{
    margin-top: 1rem;
  }